.features {
    background-image: -webkit-linear-gradient(
        183deg,
        rgb(85, 85, 85) 0%,
        rgb(0, 0, 0) 100%
    );
    padding-top: 3.3516%;
    padding-left: 1.71%;
    padding-right: 1.0944%;
    padding-bottom: 1.368%;
}

.features .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;
}

.features h2 {
    color: #fff;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 40px;
}

.features p {
    color: #fff;
    font-size: 20px;
    margin-bottom: 20px;
}

.features-image {
    margin-top: 50px;
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.feature-container {
    margin-bottom: 20px;
}

.feature-container .feature-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.feature-icon img {
    width: 50px;
}

.feature-title {
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 10px;
}

.feature-text {
    color: #fff;
    font-size: 15px;
}
